header{
    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 44px;
        padding: 50px;
    }
    .navbar{
        display: flex;
        list-style: none;
        align-items: center;
        gap: 33px;
    }
    .navbar__items--link{
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height, or 125% */
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;
        text-decoration: none;
        transition: 0.7s;
        max-width: 2000px;
    }   
    .navbar__items--link:hover{
        color: black;
    }
}